/*=========== Layout ============*/
.main-div {
    background-color: #D5D3D3;
    display: inline-block;
    width: 40%;
    text-align: center;
    margin-left: 25%;
    margin-top: 3em;
    padding: 5em;
    }

.main-image {
    display: inline-block;
    width: 40%;
    float: left;
}

.div-one {
    display: inline-block;
    width: 55%;
    float: right;
    margin: 3.5em 0 0 0;
}

/*=========== main style ============*/

h1, p {
    text-align: center;
    font-family: 'Barlow Condensed', sans-serif;
    display: inline-block;
    width: 100%;
}
h1 {
    font-size: 4em;
    margin: 0;
    padding: 0;
}
p {
    font-size: 1.4em;
    margin-bottom: 0;
}
.home-buton {
    background-color:#878686;  
    padding: 12px; 
    margin-top: .5em;
    border: 1px solid #878686;
    display: inline-block; /*collapsing margins*/
}

a {
    text-decoration: none;
    color: white;
    
}

.second-p {
    font-size: 1em;
    margin-bottom: 0em;
    color: rgba(0, 0, 0, 0.7);;
}